@use '../foundation/variable'as var;
@use '../foundation/mixin';

/*********************************************
 * 
 * 会社情報
 *
**********************************************/
.about {
    background: url('../img/about-1.webp') no-repeat center / cover;

    @include mixin.retina {
        background-image: url(../img/about-1@2x.webp);
    }

    margin: 0 calc(50% - 50vw);
    padding: 32px calc(50vw - 50%);

    @include mixin.L {
        background-position: right top;
        background-size: 70% auto;
        margin: auto;
        padding: 0 0 80px 0;
    }

    &-text {
        margin-bottom: 32px;
        width: 100%;
        line-height: 1.8;
        letter-spacing: .05rem;

        @include mixin.M {
            width: 72%;
            margin-bottom: 48px;
        }
    }
}

// .about