@use '../foundation/variable'as var;
@use '../foundation/mixin';

/*********************************************
 * 
 * お問い合わせ
 *
**********************************************/
.contact {
    background-color: var.$mainColor;
    margin: 0 calc(50% - 50vw);
    padding: 64px calc(50vw - 50%);


    @include mixin.M {
        padding: 120px 0;
    }

    &-item {
        text-align: center;
        color: white;
    }

    &-text {
        font-size: mixin.rem(18);
        font-weight: bold;

        @include mixin.M {
            font-size: mixin.rem(28);
        }
    }

    &-tel {
        font-size: mixin.rem(20);
        font-weight: bold;
        margin-top: 16px;

        @include mixin.M {
            font-size: mixin.rem(42);
            margin-top: 32px;
        }
    }

    &-hours {
        font-size: mixin.rem(18);
        margin-top: 16px;

        @include mixin.M {
            font-size: mixin.rem(28);
            margin-top: 32px;
        }
    }
}

//.contact

.contact-btn {
    text-align: center;

    a {
        display: inline-block;
        margin-top: 16px;
        font-size: mixin.rem(18);
        padding: 1rem 2rem;
        border-radius: 16px;
        background-color: white;
        color: black;
        font-weight: bold;

        @include mixin.M {
            font-size: mixin.rem(32);
            margin-top: 32px;

            &:hover {
                background-color: var.$subColor;
                color: white;
            }
        }
    }
}