@charset "utf-8";
// foundation
@use 'foundation/variable';
@use 'foundation/mixin';
@use 'foundation/common';

// layout
@use 'layout/goTop';
@use 'layout/header';
@use 'layout/footer';

// section
@use 'section/MV';
@use 'section/product';
@use 'section/about';
@use 'section/work';
@use 'section/contact';
@use 'section/recruit';
@use 'section/info';