@charset "UTF-8";

/*********************************************
*
* 共通
*
**********************************************/

:root {
  --color-main: #6f6152;
  --color-sub: #dd654e;
  --color-gray: #a0a0a0;
  --font-body: "Shippori Mincho", serif;
  --font-accent: "Noto Serif JP", serif;
  --s-space: clamp(1rem, 0.333rem + 2.222vw, 2rem);
  --m-space: clamp(2rem, 1.333rem + 2.222vw, 3rem);
  --l-space: clamp(3rem, 1.667rem + 4.444vw, 5rem);
}
html {
  font-size: 100%;
}

body {
  color: var(--color-main);
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.05em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.container {
  max-width: min(84%, 1200px);
  margin: 0 auto;
}

/*********************************************
 * 
 * ヘッダー
 *
**********************************************/
.header-img {
  width: 100%;
  height: 400px;
  background-image: image-set(url("../img/MV.jpg") 1x, url("../img/MV@2x.jpg") 2x);
  background-position: center;
  background-size: cover;
}

.siteTitle {
  display: grid;
  place-items: center;
  height: 100%;
  color: #fff;
  font-family: "Italianno", cursive;
  font-weight: normal;
  font-size: clamp(3rem, 1.6667rem + 4.4444vw, 5rem);
}

/* スマホ用 */
@media (max-width: 846px) {
  .header-img {
    height: 200px;
  }
}

/*********************************************
 * 
 * ナビゲーション
 *
**********************************************/
/* --- PC --- */
.nav-list {
  display: flex;
  justify-content: space-between;
}
.nav-list a {
  display: inline-block;
  padding-bottom: 6px;
  border-bottom: solid 1px #fff;
  color: var(--color-sub);
  text-decoration: none;
  transition: all 0.4s ease;
}
@media (any-hover: hover) {
  .nav-list a:hover {
    border-bottom: solid 1px var(--color-sub);
  }
}
.nav-btn {
  display: none;
}

/* --- タブレット用 --- */

@media (max-width: 920px) {
  /* メニュー背景 */
  .overlay {
    position: fixed;
    inset: 0; /* top, right, bottom, left: 0 と同じ */
    background: rgb(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none; /* 何もない状態ではクリックできない */
    transition: opacity 0.4s ease;
    z-index: 10;
  }
  /* メニューボタン */
  .nav-btn {
    display: block;
    position: fixed;
    top: var(--s-space);
    right: var(--s-space);
    z-index: 30;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: var(--color-main);
    text-align: center;
    transition: all 0.4s ease;
  }

  /* メニューリスト */
  .nav-list {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 300px;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 3rem;
    background-color: var(--color-main);
    transition: transform 0.4s ease;
    z-index: 20;
  }
  .nav-list a {
    border-bottom: solid 1px var(--color-main);
    color: #fff;
  }
}
/* ------ / タブレット用 ------ */

/* ---- ACTIVE ---- */
.overlay.active {
  opacity: 1;
  pointer-events: auto; /* ★ 有効にしてクリックできるように */
}
.nav-btn.active {
  background-color: var(--color-sub);
}
.nav-list.active {
  transform: translateX(0);
}
/*********************************************
*
* TOPへ戻るボタン
*
**********************************************/
.topTo {
  display: grid;
  place-items: center;
  position: fixed;
  bottom: var(--s-space);
  right: var(--s-space);
  z-index: 5;
  width: 45px;
  height: 45px;
  border: #fff solid 1px;
  border-radius: 50%;
  color: #fff;
  background-color: var(--color-main);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}
/* 表示させたとき */
.topTo.show {
  opacity: 1;
  pointer-events: auto;
}
/*********************************************
 * 
 * about cutflowers arrangement 共通
 *
**********************************************/
.section {
  padding: var(--l-space) 0;
}
/* セクションタイトル */
.section-title {
  margin-bottom: var(--s-space);
  font-weight: 600;
  font-size: clamp(1.6rem, 1.3333rem + 0.8889vw, 2rem);
  text-align: center;
}

/* リード文 */
.lead {
  padding-bottom: var(--m-space);
  text-align: center;
}

/* アイテム画像とキャプション */
.section-items {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.section-items > * {
  width: calc(33.33% - (32px * 2 / 3));
}

@media (max-width: 846px) {
  .section-items > * {
    width: calc(50% - (32px * 1 / 2));
  }
}
@media (max-width: 480px) {
  .section-items > * {
    width: 100%;
  }
}
/*********************************************
 * 
 * リンクボタン
 *
**********************************************/
.shopTo {
  margin: var(--m-space) 0;
  text-align: center;
}

.shopTo a {
  display: inline-block;
  padding: 1vw 11vw;
  border: var(--color-sub) solid 1px;
  border-radius: 6px;
  color: #fff;
  background-color: var(--color-sub);
  font-weight: bold;
}

.shopTo a:hover {
  border: var(--color-sub) solid 1px;
  color: var(--color-sub);
  background-color: #fff;
}

/* タブレット用 */

@media (max-width: 846px) {
  .shopTo a {
    width: 100%;
  }
}

/* スマホ用 */

@media (max-width: 480px) {
  .shopTo {
    margin-top: calc(60px - 32px);
    margin-bottom: 60px;
  }

  .shopTo a {
    padding: 2vw 11vw;
  }
}

/*********************************************
 * 
 * Shop
 *
**********************************************/

.shop-detailed {
  display: flex;
  max-width: 600px;
  justify-content: center;
  margin: 0 auto;
}

.shop-data {
  width: 50%;
}

.shop-map {
  width: 50%;
}

.map-area {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
}

.map-area iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}

/* タブレット用 */

@media (max-width: 846px) {
  .shop-detailed {
    flex-direction: column;
  }

  .shop-data,
  .shop-map {
    width: 100%;
  }
  .shop-data {
    margin-bottom: 16px;
  }
}

/*********************************************
 * 
 * Contact
 *
**********************************************/

.contact-table {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0 30px;
}

.contact-table th {
  width: 160px;
  font-weight: normal;
}

.contact-table td {
  width: calc(100% - 160px);
}

.contact-table input,
.contact-table textarea {
  width: 100%;
  padding: 6px;
  border: var(--color-main) solid 1px;
}

/* タブレット用 */
@media (max-width: 846px) {
  .contact-table th {
    display: block;
    width: 100%;
  }

  .contact-table td {
    display: block;
    width: 100%;
  }
}

/* スマホ用 */
@media (max-width: 480px) {
  .contact-table {
    border-spacing: 0 16px;
  }
}
/* 送信ボタン */

.send-btn {
  text-align: center;
}
.send-btn [type="submit"] {
  padding: 0.3rem 2rem;
  border: var(--color-main) solid 1px;
  border-radius: 6px;
  color: #fff;
  background-color: var(--color-main);
  font-weight: bold;
}
@media (any-hover: hover) {
  .send-btn [type="submit"]:hover {
    color: var(--color-main);
    background-color: #fff;
  }
}
/*********************************************
 * 
 * Footer
 *
**********************************************/
.footer {
  width: 100%;
  background-color: var(--color-main);
  color: #fff;
}

/* タブレット＆スマホ */
.footer-wrap {
  display: grid;
  place-items: center;
}

/* PC */
@media (min-width: 846px) {
  .footer-wrap {
    /* ３列にする */
    grid-template-columns: auto auto auto;
  }
  /* 左に寄せる */
  .footer-logo {
    justify-self: start;
  }
  /* 右に寄せる */
  .footer-sns {
    justify-self: end;
  }
}

.footer-logo {
  font-family: "Italianno", cursive;
  font-size: 2.4rem;
}

.footer-sns {
  font-size: 2.4rem;
}
